@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #40444d;
  padding: 30px 10%;
  position: sticky;
  top: 0;
  z-index: 4;
  & li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #fff; 
    text-decoration: none;
  }
  & img {
    height: 20px;
    cursor: pointer;
  }
  & .nav__links {
    list-style: none;
    & li {
      display: inline-block;
      padding: 0 20px;
    }
    & li a {
      transition: all 0.3s ease 0s;
    }
    & li a:hover {
      color: #40444d;
    }
  }
  & button {
    padding: 9px 25px;
    background-color: rgba(246,210,60, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  & button:hover {
    background-color: rgba(246,210,60, .8);
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  & .hero__overlay:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(64, 68, 77, .5);
    z-index: 2;
  }
  & .hero__overlay:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(95deg, rgba(246,210,60,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
  }
  & .hero__content {
    position: relative;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 3;
    padding-left: 5%;
    & img {
      height: 50px;
    }
    & h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      margin-block-start: 0.2em;
      margin-block-end: 0.82em;
      line-height: 0;
    }
    & p {
      width: 70%;
      font-size: 16px;
    }
  }
  @media only screen and (min-width: 1280px) {
    .hero__content {
      padding-left: 0;
    }
  }
  @media only screen and (max-width: 670px) {
    .hero__content {
      padding-left: 2.5%;
      & h1 {
        font-size: 1em;
      }
      & p {
        width: 90%;
      }
    }
  }
  @media only screen and (max-width: 445px) {
    .hero__content h1 {
      font-size: 0.7em;
    }
  }
}

/* @media only screen and (min-width: 600px) {
  .gallery {
    columns: 2;
  }
} */

.grid {
  display: grid;
  place-content: center;
}
.gallery {
  columns: 3;
  column-gap: .5rem;
  min-height: 100vh;
  padding: 2rem;
  & .media__container {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0.5rem;
    object-fit: contain;
    & img {
      scale: 1.1;
      width: 100%;
    }
    & .media__button {
      position: absolute;
      left: 50%;
      top: 130%;
      margin: auto;
      text-align: center;
      color: white;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
    }
    &:hover img {
      transition: 500ms;
      scale: 1.2;
      border-radius: 2px;
      filter: brightness(0.5);
      -webkit-filter: brightness(0.5);
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -ms-transition: 500ms;
      -o-transition: 500ms;
    }
    &:hover .media__button {
      top: 50%;
      transition: 400ms cubic-bezier(0, 2, 1, 1);
      -webkit-transition: 400ms cubic-bezier(0, 2, 1, 1);
      -moz-transition: 400ms cubic-bezier(0, 2, 1, 1);
      -ms-transition: 400ms cubic-bezier(0, 2, 1, 1);
      -o-transition: 400ms cubic-bezier(0, 2, 1, 1);
    }
  }

  @media (width <= 1100px){
    & .media__container {
      border-radius: 10px;
    }
  }
  @media (width <= 700px) {
    & {
      columns: 2;
    }
  }
}
.media__modal {
  background-color: #fff;
  padding: 1rem;
  margin: auto;
  border: none;
  overflow: hidden;
  & button {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    & img {
      width: inherit;
    }
  }
  & .media-infos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    & .modal__img {
      width: max(10rem,20vw);
      margin: auto;
    }
  }
  &::backdrop {
    backdrop-filter: blur(5px) brightness(0.5);
  }
}

.gallery__loading {
  text-align: center;
  & img {
    width: 2rem;
    height: fit-content;
    animation: loading 5s linear infinite;
    -webkit-animation: loading 5s linear infinite;
  }
}
@keyframes loading {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

footer{
  position: relative;
  & .waves {
    z-index: -999;
    position: relative;
    & .wave {
      position: absolute;
      top: -50px;
      left: 0;
      width: 100%;
      height: 100px;
      background: url("assets/wave.png");
      background-size: 1000px 100px;
    }
  }
  & .footer_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 30vh;
    background-color: #40444d;
    padding: 0 20px 0 20px;
    & img {
      max-width: 150px;
    }
    & .footer__section:nth-of-type(1){
      max-width: 300px;
      height: fit-content;
      & p{
        padding-top: 10px;
        font-size: 14px;
        color: #fff;
        text-align: justify;
      }
    }
    & .footer__section:nth-of-type(2){
      max-width: 300px;
      height: fit-content;
      & address {
        font-style: normal;
        line-height: 1.6;
        color: #fff; 
        padding: 10px 0;
        & h5 {
          font-size: 1.2em;
          color: #ffffff; 
          margin-bottom: 5px;
        }
        & p {
          margin: 5px 0;
        }
        & a {
          transition: 0.3s;
          color: #5bc7f5; 
          text-decoration: none;
        }
        & a:hover {
          color: #fff; 
          text-decoration: underline;
        }
      }
    }
    & .footer__section:nth-of-type(3){
      max-width: 300px;
      height: fit-content;
      display: flex;
      align-items: center;
      & .nav__links_footer{
        list-style: none;
        height: max-content;
        & li a{
          color: #fff;
          padding-bottom: 1rem;
          text-decoration: none;
          font-size: 18px;
          transition: 0.5s;
        }
        & li a:hover {
          color: rgba(246,210,60, 1);
        }
      }
    }
    & .footer__section:nth-of-type(4){
      max-width: 300px;
      height: fit-content;
      & h2{
        text-align: center;
        font-size: 1.2em;
        color: #ffffff; 
        margin-bottom: 15px;
      }
      & .media_sosial {
        & a {
          display: inline-block;
          font-size: 30px;
          color: #ffffff;
          perspective: 1000px; 
          transition: transform 0.6s ease, color 0.6s ease;
          margin: 0 5px;
        }
        & a:hover {
          transform: rotateY(360deg); 
          color:rgba(246,210,60, .8); 
        }
      }
    }
  }
  & .credit{
    background-color: #2e2f33;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    padding: 10px;
  }
}

.nav__links_footer li a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgba(246,210,60, 1);
  transform: scaleX(0);
  transition: 0.5s linear;
  transform-origin: left;
}

.nav__links_footer li a:hover::after {
  transform: scaleX(1);
}

.wave:nth-of-type(1) {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}
.wave:nth-of-type(2) {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}
.wave:nth-of-type(3) {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}
.wave:nth-of-type(4) {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100%{
    background-position-x: 0px;
  }
}

@media (max-width: 768px) {
  .footer_container {
    flex-direction: column;
    padding: 20px;
    min-height: auto;
  }

  .footer__section {
    max-width: 100%;
    margin: 10px 0;
  }

  address h5 {
    font-size: 24px;
  }

  .nav__links_footer li,.nav_links_footer li a {
    display: inline-block;
    padding: 5px ;
    font-size: 20px;  
    margin: auto;
  }

  .nav__links_footer{
    text-align: center;
  }

  .nav__links_footer {
    text-align: center;
  }

  .media_sosial {
    text-align: center;
  }

  .media_sosial a {
    font-size: 35px;
  }

  .credit {
    font-size: 22px;
  }
}

@media (max-width: 425px) {

  .nav__links_footer li,.nav__links_footer li a {
    display: inline-block;
    padding: 5px ;
    font-size: 18px;  
    margin: auto;
  }

  .nav__links_footer{
    text-align: center;
  }

  .media_sosial {
    text-align: center;
  }

  .media_sosial a {
    font-size: 30px;
  }
}

@media (max-width: 375px) {

  address h5 {
    font-size: 18px;
  }

  .nav__links_footer li,.nav__links_footer li a {
    display: inline-block;
    padding: 5px ;
    font-size: 16px;  
    margin: auto;
  }

  .nav__links_footer{
    text-align: center;
  }

  .media_sosial {
    text-align: center;
  }

  .media_sosial a {
    font-size: 24px;
  }

  .credit {
    font-size: 14px;
  }
}

@media (max-width: 320px) {

  .nav__links_footer li,.nav__links_footer li a {
    display: inline-block;
    padding: 5px ;
    font-size: 16px;  
    margin: auto;
  }

  .nav__links_footer{
    text-align: center;
  }

  .media_sosial {
    text-align: center;
  }

  .media_sosial a {
    font-size: 24px;
  }
}