* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  z-index: 998;
  background-color: yellow;
  padding: 2rem;
}

/* @media only screen and (min-width: 600px) {
  .gallery {
    columns: 2;
  }
} */



.gallery {
  width: 100%;
  margin: 0 auto;
  columns: 3;

  min-height: 100vh;
  padding: 2rem;

  & .media__container {
    
    break-inside: avoid;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0.5rem;
    & img {
      border-radius: 2px;
      width: 100%;
      
    }
    & .media__button {
      position: absolute;
      left: 50%;
      top: 110%;
      margin: auto;
      text-align: center;
      color: white;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -o-transform: translateY(-50%) translateX(-50%);
    }
    &:hover img {
      scale: 1.1;
      transition: 500ms;
      border-radius: 2px;
      filter: brightness(0.5);
      -webkit-filter: brightness(0.5);
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -ms-transition: 500ms;
      -o-transition: 500ms;
    }
    &:hover .media__button {
      top: 50%;
      transition: 400ms cubic-bezier(0, 2, 1, 1);
      -webkit-transition: 400ms cubic-bezier(0, 2, 1, 1);
      -moz-transition: 400ms cubic-bezier(0, 2, 1, 1);
      -ms-transition: 400ms cubic-bezier(0, 2, 1, 1);
      -o-transition: 400ms cubic-bezier(0, 2, 1, 1);
    }
  }
}
.media__modal {
  background-color: #fff;
  padding: 1rem;
  margin: auto;
  border: none;
  overflow: hidden;
  & button {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    & img {
      width: inherit;
    }
  }
  & .media-infos {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    & .modal__img {
      width: 20rem;
      margin: auto;
    }
  }
  &::backdrop {
    backdrop-filter: blur(5px) brightness(0.5);
  }
}

@media (max-width: 800px) {
  .gallery {
    columns: 2;
  }
}

.gallery__loading {
  text-align: center;
  & img {
    width: 2rem;
    height: fit-content;
    animation: loading 5s linear infinite;
    -webkit-animation: loading 5s linear infinite;
  }
}
@keyframes loading {
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
